.title{
background-color: rgb(51, 51, 51);
padding: 30px;
text-align: center;
color: white;
}

.container{
margin:0 10%;
}

table {
    width: 100%;
  }
  
td,th{
    width: 10%;
}  

.mat-mdc-form-field {
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
}

.delete{
  cursor:pointer;
  color:#e15639;
}
.edit{
  cursor:pointer;
  color:#644bf0;
}
.search{
  cursor:pointer;
  color:#41a727;
}

.aceptar{
  font-size: 12px;
  line-height: 28;
}